/bt/2022-09-14/nbproject/private/
/bt/2022-09-14/build/
/ATM/target/
/HoangTheLam/target/
/HoangTheLam(true)/nbproject/private/
/HoangTheLam(true)/build/
/WebApplication/nbproject/private/
/WebApplication/dist/
/WebApplication/build/
/JavaApplication5/nbproject/private/
/JavaApplication5/build/
/JavaApplication5/dist/
/WebApplication1/nbproject/private/
/WebApplication1/dist/
/WebApplication1/build/
